.multistepForm {
  background: $white;
  width: 75vw;
  height: 85vh;
  margin: 5vh auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: auto;

  form {
    width: 100%;
    height: 100%;
  }
  tabset {
    .nav-tabs,
    .nav-item,
    .nav-item.active,
    .nav-link,
    .nav-link.active {
      border: none;
      border-radius: 0;
    }

    .nav-tabs,
    .nav-link,
    .nav-link.active{
      min-height: 12vh;
    }

    .nav-item {
      background: $gray-lighter;
      &:not(:last-child) {
        border-right: 1px solid $gray-light;
      }
    }

    .nav-link {
      padding: 1rem;
      color: $gray;

      .tabName {
        display: inline-block;
      }

      span.step,
      span.check {
        border-radius: 2rem;
        -moz-border-radius: 2rem;
        -webkit-border-radius: 2rem;
        color: $gray;
        display: inline-block;
        line-height: 31px;
        margin: 5px;
        text-align: center;
        width: 35px;
        border: 2px solid $gray;
        font-size: $font-size-base;
        font-weight: bold;
      }

      span.check {
        display: none;
        color: #28a745;
        border: 2px solid #28a745;
      }
    }

    .nav-link.active {
      background: $primary;
      color: $white;
      font-weight: 500;

      span.step {
        color: $white;
        border: 2px solid $white;
      }
    }

    .nav-item.active.wasActive {
      span.step {
        display:inline-block;
      }

      span.check {
        display: none;
      }
    }

    .nav-item.wasActive {
      span.step {
        display:none;
      }

      span.check {
        display: inline-block;
      }
    }

    .tab-content {
      position: relative;
      padding: 4rem 5rem;
      height: calc(85vh - 12vh);

      .tab-form {
        min-height: calc(85vh - 12vh - 8rem - 1rem); // tab-contentHeight - tab-contentPadding - button-group-padding
      }

      .button-group {
        padding-top: 1rem;
        width: 100%;

        .btn-left {
          float: left;
        }

        .btn-right {
          float: right;
        }
      }

      .tabDesc {
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .multistepForm {
    width: 100vw;
    height: 100vh;
    margin: 0;
    tabset {
      .nav-tabs,
      .nav-link,
      .nav-link.active{
        min-height: 10vh;
      }

      .tab-content {
        .tab-form {
          min-height: calc(100vh - 10vh - 8rem - 1rem); // tab-contentHeight - tab-contentPadding - button-group-padding
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .multistepForm {
    width: 100vw;
    height: 100vh;
    margin: 0;
    tabset {

      .tab-content {
        padding: 3rem 2rem;

        .tab-form {
          min-height: calc(100vh - 12vh - 8rem - 1rem); // tab-contentHeight - tab-contentPadding - button-group-padding
        }

        .tabDesc {
          margin-bottom: 1.25rem;
          h5 {
            font-size: 1rem;
            font-weight: bold;
          }
        }

        .button-group {
          button {
            width: 100%;
            &:last-child {
              margin-top: 1rem;
              margin-bottom: 2rem;
            }

          }
        }
      }
      .nav-item {
        .nav-link {
          .tabName h6 {
            font-size: .8rem;
            margin-top: .5rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .multistepForm {
    tabset {
      .nav-tabs,
      .nav-link,
      .nav-link.active{
        min-height: 10vh;
      }

      .tab-content {
        .tab-form {
          min-height: calc(100vh - 10vh - 8rem - 1rem); // tab-contentHeight - tab-contentPadding - button-group-padding
        }
      }
    }
  }
}
