.summary {
  .table-container {
    table {
      th, td {
        padding: .5rem;
      }

      th {
        font-weight: normal;
        width: 50%;
        border-right: 1px solid #d5d9e1;
      }
    }
  }
}


