<div class="multistepForm">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="new-password">
    <tabset #staticTabs [justified]="true">
      <tab id="tab1" (deselect)="onDeSelect($event)">
        <ng-template tabHeading>
          <span class="step">1</span>
          <span class="check"><fa-icon [icon]="faCheck"></fa-icon></span>
          <span class="tabName d-none d-sm-block d-xs-block"><h6>Account Informationen</h6></span>
        </ng-template>
        <app-account-infos [parentForm]="userForm"></app-account-infos>
        <div class="button-group">
          <button type="button" class="btn btn-primary btn-right"
                  [disabled]="userForm.get('username').invalid || userForm.get('email').invalid ||
                  userForm.get('password1').invalid || (userForm.get('password1').value != userForm.get('password2').value)"
                  (click)="selectTab(1)">Weiter</button>
        </div>
      </tab>

      <tab id="tab2" [disabled]="true">
        <ng-template tabHeading>
          <span class="step">2</span>
          <span class="check"><fa-icon [icon]="faCheck"></fa-icon></span>
          <span class="tabName d-none d-sm-block d-xs-block"><h6>Persönliche Informationen</h6></span>
        </ng-template>


        <app-user-infos [parentForm]="userForm"></app-user-infos>


        <div class="button-group">
          <button type="button" class="btn btn-secondary btn-left" (click)="selectTab(0)">Zurück</button>
          <button type="button" class="btn btn-primary btn-right" (click)="onFinish(2)">Fertig</button>
        </div>
      </tab>

      <tab id="tab3" [disabled]="true">
        <ng-template tabHeading>
          <span class="step">3</span>
          <span class="check"><fa-icon [icon]="faCheck"></fa-icon></span>
          <span class="tabName d-none d-sm-block d-xs-block"><h6>Zusammenfassung</h6></span>
        </ng-template>


        <strong>Zusammenfassung</strong>

        <ng-template [ngIf]="success === false && error === false">
          <div class="button-group">
            <button type="button" class="btn btn-secondary btn-left" (click)="selectTab(1)">Zurück</button>
            <button type="submit" class="btn btn-primary btn-right">
              Senden
              <span *ngIf="onSend === true" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
          </div>
        </ng-template>
      </tab>
    </tabset>
  </form>
</div>
