/* colors */
$primary:#002f53;
$secondary:#6f7f8c;
$lightgray: #d5d9e1;

$gray-lighter: #e7e7e7;
$gray-light: #999;
$gray: #555;
$gray-dark: #333;
$gray-darker: #222;
$white: #fff;
$black: #000;

$success: #28a745;

/* Text colors */
$primary-text: $white;
